body{
    background:#f4f4f4;
}

.pagination{
   margin-left: 60px;
    background-color: #d9534f;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.list_page{
    display: flex;
    list-style: none;
}
.page_btn_color{
    background: chartreuse;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* Navbar */
.navbar{
    min-height: 33px !important;
    margin-bottom:0;
    border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
    padding-top:6px !important;
    padding-bottom:0 !important;
    height: 33px;
}

.navbar-default {
    background-color: #e74c3c;
    border-color: #c0392b;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-default .navbar-toggle {
    border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ffbbbc;
}

/* Custom */
.main-color-bg{
    background-color: #e74c3c !important;
    border-color: #c0392b !important;
    color:#ffffff !important;
}

/* Header */
#header{
    background: dimgray;
    color:#ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create{
    padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
    background:#cccccc;
    color:#333333;
}

.breadcrumb a{
    color:#333333;
}
.main{
    height: 100vh;
}

.orange{
    color: orange;
    font-size: 35px;
}
/* Progress Bars */
.progress-bar{
    background:#333333;
    color:#ffffff;
}

.dash-box{
    text-align:center;
}

#login{
    margin-top:30px;
}

/* Footer */
#footer{
    background:dimgray;
    color:#ffffff;
    text-align:center;
    padding:30px;
    /*margin-top:30px;*/
}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffbbbc;
        background-color: #c0392b;
    }
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.loading {
    background: #d2d2d2;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    color: #c0392b;
    height: 85vh;
    display: flex;
    align-content: center;
}

.L {
    position: absolute;
    top: 85px;
    left: 140px;
    text-shadow: 0 1px 0 #c0392b,
    0 2px 0 #c0392b,
    0 3px 0 #c0392b,
    0 4px 0 #c0392b,
    0 5px 0 #c0392b,
    0 6px 0 #c0392b,
    0 6px 3px rgba(1,1,1,0.80),
    0 6px 10px rgba(1,1,1,0.20);
}

.ADING {
    position: absolute;
    top: 85px;
    left: 285px;
    text-shadow: 0 1px 0 #c0392b,
    0 2px 0 #c0392b,
    0 3px 0 #c0392b,
    0 4px 0 #c0392b,
    0 5px 0 #c0392b,
    0 6px 0 #c0392b,
    0 6px 3px rgba(1,1,1,0.80),
    0 6px 10px rgba(1,1,1,0.20);
}

.outter {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 80px;
    height: 80px;
    border-radius: 80px 0 0 80px;
    border-left: solid 5px #c0392b ;
    -webkit-animation-name:             spin;
    -webkit-animation-duration:         1s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
}

.mid {
    top: 15px;
    left: 15px;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px 0 0 50px;
    border-left: solid 5px #c0392b;
    -webkit-animation-name:             spin;
    -webkit-animation-duration:         3s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
}

@-webkit-keyframes spin {
    from { -webkit-transform:rotate(0deg) }
    to { -webkit-transform:rotate(360deg) }
}
@-moz-keyframes spin {
    from { -webkit-transform:rotate(0deg) }
    to { -webkit-transform:rotate(360deg) }
}
@-o-keyframes spin {
    from { -webkit-transform:rotate(0deg) }
    to { -webkit-transform:rotate(360deg) }
}
@keyframes spin {
    from { -webkit-transform:rotate(0deg) }
    to { -webkit-transform:rotate(360deg) }
}
.wish {
    animation:anim 3s;
    animation-duration:6s;
    color: white;
    font-size: 66px;
    position: absolute;
    bottom:300px;
    width: 100%;
    text-align: center;
    font-weight: lighter;
}

@keyframes anim {
    from {left:-100%;}
    to {left:0;}
}